*{
    text-decoration:none !important;
}

.header-grid{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.carousel-color{
    background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}

.col-border{
    border: 1px solid rgb(137, 119, 119);
    border-radius: 10px;
}

.hover-img:hover{

    transform: scale(1.1,1.1);
}
.footer-horizontal-line{

    border: 2px solid white;
}

.footer-row{
    display: flex !important;
    flex-direction: row !important;
}
.grid-color{

    background-color: #0240bc;
background-image: linear-gradient(160deg, #003ae9 0%, #80D0C7 100%);

color: white;


}

h4{
    font-size: 20px !important;
}

